# Django and REST framework
Django==6.0.2
djangorestframework==3.16.1
django-cors-headers==4.9.0
whitenoise==6.12.0

# ML dependencies
xgboost==3.2.0
scikit-learn==1.8.0
numpy==2.4.2
pandas==3.0.1

# URL and web scraping dependencies
beautifulsoup4==4.14.3
requests==2.32.5
python-whois==0.9.6
urllib3==2.6.3
ipaddress==1.0.23

# Security and utility
gunicorn==25.1.0

# Reputation checking
python-dateutil==2.9.0.post0

# PostgreSQL driver
psycopg2-binary==2.9.10

# Environment variable management
python-dotenv==1.2.1
djangorestframework-simplejwt==5.3.1

# Azure Communication Services (Email)
azure-communication-email==1.0.0
